doctype html
html
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=9,chrome=1')
    meta(charset='utf-8')
    title dm-fasimc
    meta(name='fb_admins_meta_tag', content='')
    meta(name='description', content='Home')
    link(rel='shortcut icon', href='https://www.wix.com/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon', href='https://www.wix.com/favicon.ico', type='image/x-icon')
    meta(http-equiv='X-Wix-Renderer-Server', content='app-jvm13b.42.wixprod.net')
    meta(http-equiv='X-Wix-Meta-Site-Id', content='426c14f1-fc6c-40d1-aa2e-94abd479cd5e')
    meta(http-equiv='X-Wix-Application-Instance-Id', content='97573d75-111a-48dc-87f2-fa4a9a80443d')
    meta(http-equiv='X-Wix-Published-Version', content='94')
    meta(http-equiv='etag', content='bac82261949fc26daf38696deb67362b')
    meta(property='og:title', content='dm-fasimc')
    meta(property='og:type', content='article')
    meta(property='og:url', content='https://mathiasvelilla.wixsite.com/dm-fasimc')
    meta(property='og:site_name', content='dm-fasimc')
    meta(property='og:description', content='Home')
    meta(name='SKYPE_TOOLBAR', content='SKYPE_TOOLBAR_PARSER_COMPATIBLE')
    meta#wixMobileViewport(name='viewport', content='width=980, user-scalable=yes')
  body
    .WixHeader
      a(href='http://es.wix.com/lpviral/es900viral?utm_campaign=vir_wixad_live', rel='nofollow')
        span.smallMusa (Wix-Logo)
        | Crea un sitio
        span.smallLogo Wix!
      br
      a(href='http://es.wix.com/lpviral/es900viral?utm_campaign=vir_wixad_live', rel='nofollow')
        | 100s de plantillas
        br
        | Sin necesidad de códigos
        br
        span.emphasis.spacer Empieza ahora >>
    header#SITE_HEADER.container
      #comp-ity9dy9g.Text
        h1.font_0
          a(href='https://mathiasvelilla.wixsite.com/dm-fasimc', target='_self')
            span(style='letter-spacing:0.05em') DM FASIMC
            span(style='font-size:33px')
              span.color_18 .
      nav
        ul#comp-ity9dy9f.menu
          li.menuItem
            a#dataItem-itioqrdu1.menuItemHref(href='https://mathiasvelilla.wixsite.com/dm-fasimc', target='_self', title='Home') Home
          li.menuItem
            a#dataItem-itjzbokd.menuItemHref(href='https://mathiasvelilla.wixsite.com/dm-fasimc', target='_self', rel='nofollow', title='Beneficios') Beneficios
          li.menuItem
            a#dataItem-itjzd2xo.menuItemHref(href='https://mathiasvelilla.wixsite.com/dm-fasimc', target='_self', rel='nofollow', title='Flores') Flores
          li.menuItem
            a#dataItem-itjze41m.menuItemHref(href='https://mathiasvelilla.wixsite.com/dm-fasimc', target='_self', rel='nofollow', title='Comunidad') Comunidad
          li.menuItem
            a#dataItem-itjzev4p.menuItemHref(href='https://mathiasvelilla.wixsite.com/dm-fasimc', target='_self', rel='nofollow', title='Contacto') Contacto
    section#w41b3.page
      section#comp-iupi801n.container
        section#comp-iupi80gj.container
          #comp-j3twe5z5.image(itemscope='', itemtype='http://schema.org/ImageObject')
            img(src='dm-fasimc_archivos/a0f155_ff85e5bb897f445e8b5f389baf215e62mv2.bin', alt='', title='', itemprop='contentURL', width='107', height='109')
          a#comp-j3td2e8z.Button(target='_self') +(56) 9 9946 7416
          #comp-itioyyb0.Text
            h3.font_3(style='font-size:100px; line-height:1em; text-align:center')
              span(style='font-family:adobe-caslon-w01-smbd,serif')
                span(style='font-size:100px')
                  span(style='color:rgb(255, 255, 254)')
                    span(style='letter-spacing:0.06em') FASIMC
          #comp-itip23gl.Text
            h6.font_6(style='font-size: 28px; line-height: 1.4em; text-align: center;')
              span(style='font-weight:bold')
                span(style='font-size:28px')
                  span.color_11
                    span(style='letter-spacing:0.45em')
                      | Proveemos acceso de primera calidad a Marihuana Medicinal y asistencia a pacientes de todo Chile

        iframe(src='http://back-to-top.appspot.com/app/index.html?instance=j02WbvRr96dKk-NPdFekI16yxszJCd65RRq6Lkafxi0.eyJpbnN0YW5jZUlkIjoiMjYzMTlkODgtNmMyZi00MWYxLTg5ODctODk5NGRmNWRiZDFmIiwic2lnbkRhdGUiOiIyMDE3LTA2LTIxVDAzOjUwOjM3LjYyMVoiLCJ1aWQiOm51bGwsInZlbmRvclByb2R1Y3RJZCI6bnVsbCwiZGVtb01vZGUiOmZhbHNlfQ&target=_top&width=69&compId=comp-j3tomox7&viewMode=viewer-seo#/', scrolling='auto', width='69', frameborder='0')
      span#comp-itjz6yw0
        // placeholder for component of data type=AnchorData
      section#comp-j3tlv9k0.container
        section#comp-j3tlvbnb.container
          #comp-j3twkh8o.container
            #comp-j3tn8fae.Text
              h2.font_2(style='font-size:70px; line-height:0.9em; text-align:center')
                span(style='font-weight:normal')
                  span(style='font-family:adobe-caslon-w01-smbd,serif')
                    span(style='color:rgb(255, 255, 254)')
                      span(style='letter-spacing:0.05em')
                        span(style='font-size:70px') Beneficios
            #comp-j3tn511s.container
            #comp-j3tlvbpb.Text
              p.font_8(style='font-size:17px; line-height:1.8em; text-align:justify')
                span.color_15
                  span(style='font-size:17px')
                    span(style='font-family:avenir-lt-w01_35-light1475496,sans-serif')
                      | La
                      | marihuana medicinal se utiliza en el tratamiento de enfermedades,
                      | padecimientos o síntomas que presentan sus usuarios. En DM FASIMC
                      | creemos que la marihuana medicinal es una alternativa eficiente para el
                      | alivio y bienestar de las personas.
            #comp-j3tydsa5.Text
              h6.font_6(style='font-size: 18px;')
                span(style='font-size:18px;')
                  span(style='color:#E21C21')
                    span(style='letter-spacing:0.1em') Trastorno de estrés postraumático
            #comp-j3ty6o4c.Text
              h6.font_6(style='font-size: 18px;')
                span(style='font-size:18px;')
                  span(style='color:#E21C21')
                    span(style='letter-spacing:0.1em') Tratamiento para el Cancer
            span#comp-j3wc8ehj
              // placeholder for component of data type=SvgShape
            span#comp-j3wc6j45
              // placeholder for component of data type=SvgShape
            span#comp-j3wc8yy6
              // placeholder for component of data type=SvgShape
            span#comp-j3wc9rsu
              // placeholder for component of data type=SvgShape
            #comp-j3ty89sx.Text
              h6.font_6(style='font-size: 18px;')
                span(style='font-size:18px;')
                  span(style='color:#E21C21')
                    span(style='letter-spacing:0.1em') Dolores Crónicos
            #comp-j3ty8snd.Text
              h6.font_6(style='font-size: 18px;')
                span(style='font-size:18px;')
                  span(style='color:#E21C21')
                    span(style='letter-spacing:0.1em') Epilepsia
            span#comp-j3wcamk1
              // placeholder for component of data type=SvgShape
            span#comp-j3wca4qa
              // placeholder for component of data type=SvgShape
            #comp-j3ty9giq.Text
              h6.font_6(style='font-size: 18px;')
                span(style='font-size:18px;')
                  span(style='color:#E21C21')
                    span(style='letter-spacing:0.1em') Lupus
            #comp-j3ty9yqg.Text
              h6.font_6(style='font-size: 18px;')
                span(style='font-size:18px;')
                  span(style='color:#E21C21')
                    span(style='letter-spacing:0.1em') Fibromialgia
            span#comp-j3wcamk2
              // placeholder for component of data type=SvgShape
            span#comp-j3wca4qb
              // placeholder for component of data type=SvgShape
            #comp-j3tyauc1.Text
              h6.font_6(style='font-size: 18px;')
                span(style='font-size:18px;')
                  span(style='color:#E21C21')
                    span(style='letter-spacing:0.1em') Migrañas
            #comp-j3tyc67j.Text
              h6.font_6(style='font-size: 18px;')
                span(style='font-size:18px;')
                  span(style='color:#E21C21')
                    span(style='letter-spacing:0.1em') Esclerosis Múltiple
            span#comp-j3wcaxvg
              // placeholder for component of data type=SvgShape
            span#comp-j3wccb3s
              // placeholder for component of data type=SvgShape
            #comp-j3txojta.Text
              h6.font_6(style='font-size: 18px;')
                span(style='font-size:18px;')
                  span(style='color:#E21C21')
                    span(style='letter-spacing:0.1em') Artritis
            #comp-j3tyiw7p.Text
              h6.font_6(style='font-size: 18px;')
                span(style='font-size:18px;')
                  span(style='color:#E21C21')
                    span(style='letter-spacing:0.1em') Desordenes Alimenticios
            span#comp-j3wcb1xl
              // placeholder for component of data type=SvgShape
            span#comp-j3wccgpe
              // placeholder for component of data type=SvgShape
            #comp-j3tyvrop.Text
              h6.font_6(style='font-size: 18px;')
                span(style='font-size:18px;')
                  span(style='color:#E21C21')
                    span(style='letter-spacing:0.1em') Glaucoma
            #comp-j3tyif8w.Text
              h6.font_6(style='font-size:18px')
                span(style='font-size:18px')
                  span(style='color:#E21C21')
                    span(style='letter-spacing:0.1em') Epilepsia
            #comp-j3tyw8o2.Text
              h6.font_6(style='font-size: 18px;')
                span(style='font-size:18px;')
                  span(style='color:#E21C21')
                    span(style='letter-spacing:0.1em') Enfermedad Conjuntiva del Tejido
            span#comp-j3wcb6rv
              // placeholder for component of data type=SvgShape
            span#comp-j3wccowh
              // placeholder for component of data type=SvgShape
            #comp-j3tyk1is.Text
              h6.font_6(style='font-size: 18px;')
                span(style='font-size:18px;')
                  span(style='color:#E21C21')
                    span(style='letter-spacing:0.1em') VIH/SIDA
        section#comp-j3tlvbmi.container
          #comp-j3ts76k8.image(itemscope='', itemtype='http://schema.org/ImageObject')
            img(src='dm-fasimc_archivos/c3b561_59e2653790a74edd83287b94239ddce8mv2.bin', alt='', title='', itemprop='contentURL', width='488', height='400')
      span#comp-j3xqf3ta
        // placeholder for component of data type=AnchorData
      section#comp-j3tzbgdk.container
        section#comp-j3tzbgh9.container
          #comp-j3tzbghc.Text
            h2.font_2(style='text-align:center')
              span(style='font-weight:normal;')
                span(style='font-family: adobe-caslon-w01-smbd,serif;')
                  span(style='color: rgb(255, 255, 255);')
                    span(style='letter-spacing: 0.06em;') FLORES
      section#comp-j3tzfx9w.container
        section#comp-j3tzfxdp.container
          ul#comp-j3xrv7n4.Gallery(type='tpa.viewer.components.Thumbnails')
            li#dataItem-j3xs0zoi(itemscope='', itemtype='http://schema.org/ImageObject')
              a(href='https://mathiasvelilla.wixsite.com/dm-fasimc/private-office', target='_self')
                img(src='dm-fasimc_archivos/c3b561_f2634669b1ed49968814dd0e5f30d32dmv2.jpeg', alt='Sativa', itemprop='contentURL', width='980', height='980')
              p(itemprop='name') Sativa
              p(itemprop='description') Jack
            li#dataItem-j3xs0zoj(itemscope='', itemtype='http://schema.org/ImageObject')
              a(href='https://mathiasvelilla.wixsite.com/dm-fasimc/open-space', target='_self')
                img(src='dm-fasimc_archivos/c3b561_1e8e3e21bd4241eebd6967a466823383mv2.jpeg', alt='Indica', itemprop='contentURL', width='980', height='980')
              p(itemprop='name') Indica
              p(itemprop='description') Lemon
            li#dataItem-j3xs0zok(itemscope='', itemtype='http://schema.org/ImageObject')
              a(href='https://mathiasvelilla.wixsite.com/dm-fasimc/meeting-room', target='_self')
                img(src='dm-fasimc_archivos/c3b561_c59197e9e1e24f2f853f37798a2a823cmv2.jpeg', alt='Hibrido', itemprop='contentURL', width='980', height='980')
              p(itemprop='name') Hibrido
              p(itemprop='description') Lindsay
      section#comp-itipqgnc.container
        section#comp-itipqgqp.container
          nav
            ul#comp-j3tzepzc.menu
              li.menuItem
                a#dataItem-itioqrdu1.menuItemHref(href='https://mathiasvelilla.wixsite.com/dm-fasimc', target='_self', title='Home') Home
              li.menuItem
                a#dataItem-itjzbokd.menuItemHref(href='https://mathiasvelilla.wixsite.com/dm-fasimc', target='_self', rel='nofollow', title='Beneficios') Beneficios
              li.menuItem
                a#dataItem-itjzd2xo.menuItemHref(href='https://mathiasvelilla.wixsite.com/dm-fasimc', target='_self', rel='nofollow', title='Flores') Flores
              li.menuItem
                a#dataItem-itjze41m.menuItemHref(href='https://mathiasvelilla.wixsite.com/dm-fasimc', target='_self', rel='nofollow', title='Comunidad') Comunidad
              li.menuItem
                a#dataItem-itjzev4p.menuItemHref(href='https://mathiasvelilla.wixsite.com/dm-fasimc', target='_self', rel='nofollow', title='Contacto') Contacto
          #comp-itipqgqr.Text
            h2.font_2(style='font-size:50px; text-align:center')
              span(style='font-weight:normal')
                span(style='font-family:adobe-caslon-w01-smbd,serif')
                  span(style='font-size:50px')
                    span(style='letter-spacing:0.06em') COMUNIDAD
      span#comp-j3xqss7y
        // placeholder for component of data type=AnchorData
      section#comp-j3tzgq1k.container
        section#comp-j3tzgq58.container
          #comp-j3tzgq5p.Text
            h2.font_2(style='font-size:50px; text-align:center')
              span(style='font-weight:normal')
                span(style='font-family:adobe-caslon-w01-smbd,serif')
                  span(style='font-size:50px')
                    span(style='letter-spacing:0.06em') COMUNIDAD
          #comp-j3tzgq5k1.Text
            h2.font_2(style='text-align: center; font-size: 25px;')
              span(style='font-weight:normal;')
                span(style='font-size: 25px;')
                  span(style='letter-spacing: 0.06em;') MEMBRESIA
          #comp-j3tzgq5f.Text
            h2.font_2(style='font-size:25px; text-align:center')
              span(style='font-size:25px')
                span(style='font-weight:normal')
                  span(style='letter-spacing:0.06em') TESTIMONIOS
          span#comp-j3tzgq5n
            // placeholder for component of data type=SvgShape
          ul#comp-j3tzgq5a.Gallery(type='wysiwyg.viewer.components.SlideShowGallery')
            li#dataItem-j3tzgq5b1(itemscope='', itemtype='http://schema.org/ImageObject')
              a(href='https://mathiasvelilla.wixsite.com/dm-fasimc?lightbox=dataItem-j3tzgq5b1')
                img(src='dm-fasimc_archivos/84770f_92033d29a7bd4fd4b801839e7bc7f2f1mv2_d_6496_4331_s_4_2.bin', alt="I'm an image title", itemprop='contentURL', width='534', height='356')
              p(itemprop='name') I'm an image title
              p(itemprop='description') Describe your image here
            li#dataItem-j3tzgq5b2(itemscope='', itemtype='http://schema.org/ImageObject')
              a(href='https://mathiasvelilla.wixsite.com/dm-fasimc?lightbox=dataItem-j3tzgq5b2')
                img(src='dm-fasimc_archivos/84770f_91576228a72342d48edeac6f8002d236mv2_d_7360_5068_s_4_2.bin', alt="I'm an image title", itemprop='contentURL', width='534', height='368')
              p(itemprop='name') I'm an image title
              p(itemprop='description') Describe your image here
            li#dataItem-j3tzgq5b3(itemscope='', itemtype='http://schema.org/ImageObject')
              a(href='https://mathiasvelilla.wixsite.com/dm-fasimc?lightbox=dataItem-j3tzgq5b3')
                img(src='dm-fasimc_archivos/84770f_5f4d041d4a9b41c08919d8685dea548dmv2_d_5184_3456_s_4_2.bin', alt="I'm an image title", itemprop='contentURL', width='534', height='356')
              p(itemprop='name') I'm an image title
              p(itemprop='description') Describe your image here
            li#dataItem-j3tzgq5b4(itemscope='', itemtype='http://schema.org/ImageObject')
              a(href='https://mathiasvelilla.wixsite.com/dm-fasimc?lightbox=dataItem-j3tzgq5b4')
                img(src='dm-fasimc_archivos/84770f_d19520938ba74e009288091d0ca84f0cmv2_d_5136_3424_s_4_2.bin', alt="I'm an image title", itemprop='contentURL', width='534', height='356')
              p(itemprop='name') I'm an image title
              p(itemprop='description') Describe your image here
            li#dataItem-j3tzgq5c(itemscope='', itemtype='http://schema.org/ImageObject')
              a(href='https://mathiasvelilla.wixsite.com/dm-fasimc?lightbox=dataItem-j3tzgq5c')
                img(src='dm-fasimc_archivos/84770f_705a2bac676b48d9be3206e2d4bde78bmv2.bin', alt="I'm an image title", itemprop='contentURL', width='534', height='342')
              p(itemprop='name') I'm an image title
              p(itemprop='description') Describe your image here
            li#dataItem-j3tzgq5c1(itemscope='', itemtype='http://schema.org/ImageObject')
              a(href='https://mathiasvelilla.wixsite.com/dm-fasimc?lightbox=dataItem-j3tzgq5c1')
                img(src='dm-fasimc_archivos/fe1c23b7610d4ddebf2d8c24bd4da1b9.bin', alt="I'm an image title", itemprop='contentURL', width='534', height='356')
              p(itemprop='name') I'm an image title
              p(itemprop='description') Describe your image here
          #comp-j3tzgq5j.Text
            p.font_8(style='line-height:1.5em') Dispensario Medicinal de Cannabis
      span#comp-itjzaybf
        // placeholder for component of data type=AnchorData
      section#comp-itis6kml.container
        section#comp-itis6knj.container
          #comp-itis6knm.Text
            h2.font_2(style='text-align:center')
              span(style='letter-spacing:0.06em')
                span(style='color:#FFFFFE') CONTACTO
          #comp-itis6knq.Text
            p.font_7(style='line-height:1.7em; text-align:center')
              span(style='color:#FFFFFE')
                span(style='letter-spacing:0.05em') DIRECCION: CATEDRAL 1009 OF 601 ATENCION: 10:00 A 18:00 HRS
            p.font_7(style='line-height:1.7em; text-align:center')
              span(style='color:#FFFFFE')
                span(style='letter-spacing:0.05em') TEL: +56999467416  |  DM@FASIMC.ORG
            p.font_7(style='line-height:1.7em; text-align:center')
              span(style='color:#FFFFFE')
                span(style='letter-spacing:0.05em') A PASOS DEL METRO PLAZA DE ARMAS

            iframe(src='http://apps.wix.com/shoutout-get-subscriber-server-webapp/statics/index?instance=1s18hJD3xkhrd6PaVUnu8CF_n8V7xs9wLRbn24bF-gw.eyJpbnN0YW5jZUlkIjoiNDg4YzI5OTYtZTgzNS00MWUwLWI0YzgtNDhlZjU4ODVkZTU4Iiwic2lnbkRhdGUiOiIyMDE3LTA2LTIxVDAzOjUwOjM3LjYyMVoiLCJ1aWQiOm51bGwsInZlbmRvclByb2R1Y3RJZCI6bnVsbCwiZGVtb01vZGUiOmZhbHNlfQ&target=_top&width=391&compId=comp-itwu50tg&viewMode=viewer-seo', scrolling='auto', width='391', frameborder='0')
      #comp-itmlhkb8.google-map(itemscope='', itemtype='http://schema.org/ImageObject')
        h4(itemprop='name') Catedral 1009, Santiago, Región Metropolitana, Chile
        img(src='dm-fasimc_archivos/staticmap.png', alt='Catedral 1009, Santiago, Región Metropolitana, Chile', title='', itemprop='contentURL', width='1349', height='500')
        p(itemprop='description') ¡Estoy Aqui!
    footer#SITE_FOOTER.container
      section#comp-itmm7d1a.container
        section#comp-itmm7d30.container
          #comp-itmm8m6t.Text
            p.font_9
              span.color_11
                span(style='letter-spacing:0.1em')

          ul#comp-itmmthpi.SocialLinkBar
    .adFootBox(style='background-color:black')
      .adFootBox
        .siteBanner
          .siteBanner
            .wrapper
              .txt.shd(style='color:#fff') | DM FASIMC - © 2017 Copy Left. Debes tener al menos 18 años para usar este sitio.
