extends layout-loggedin

block content        
    section#home.bg-light-gray
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading Ficha de : #{name}
          .col-lg-4
            h3.section-heading Antecedentes Generales
            .col-lg-5
              p Nombre : 
              p Rut : 
              p Edad : 
              p Telefono : 
              p Correo : 
              p Dirección : 
              p Región : 
              p Comuna : 
            .col-lg-7
              p #{name}
              p #{rut}
              p #{age}
              p #{phone}
              p #{email}
              p #{address}
              p #{region}
              p #{comuna}
          .col-lg-4
            h3.section-heading Antecedentes Médicos        
            .col-lg-5    
              p Diagnóstico : 
              p Operaciones : 
              p Alergias : 
              p Medicamentos : 
              p Declaración de aceptación MMJ :         
            .col-lg-7
              p #{sick}              
              p #{operaciones}
              p #{alergias}
              p #{medicamentos}
              br
              p #{declaracion} 
          .col-lg-4
            h3.section-heading Observaciones
            .col-lg-7
              p Enviado por : 
              p Dosis recomendada : 
              p Producto recomendado : 
              p Dosis diaria : 
              p Dosis semanal :       
              p Dosis mensual : 
              p Otros : 
              p Firma :         
            .col-lg-5
              p #{sender}
              p #{dosis}
              p #{product}
              p #{diary}
              p #{week} 
              p #{month}
              p #{other}
              p #{sign} 
    //End navbar theme
    //footer
    footer
      .container
        .row
          .col-md-4
            p.copyright
              | DM FASIMC - © 2017 Copy Left. Debes tener al menos 18 años para usar este sitio.
          .col-md-4
            ul.list-inline.social-buttons
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='https://www.facebook.com/FASIMC/?ref=br_rs')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-linkedin
          .col-md-4
            span
              | DIRECCION: CATEDRAL 1009 OF 601
              br
              |  ATENCION: 10:00 A 18:00 HRS
              |                       TEL: +56999467416
              br
              |  Correo: DM@FASIMC.ORG
              |                       A PASOS DEL METRO PLAZA DE ARMAS
    //footer
