extends layout-loggedin

block content
    // Team Section    
    section#agendamiento.bg-light-gray
      .container.text-center        
        .row
          .col-lg-12        
            h1.info Agendamiento de horas            
            p.info Nota: Refresque la página presionando F5 si su hora no aparece.
            p#status.onway #{estado}
            p#demo Texto prueba innerHtml
            br
            br
      .container        
        .row
          .col-lg-12
            #container
              #title Escoja la hora
                table#schedule.display.text-center(width='100%', cellspacing='0')
                  thead
                    tr
                      th Lunes
                      th Martes
                      th Miercoles
                      th Jueves             
                      th Viernes
                      th Sábado
                      th Domingo                         
                  tbody                                        
                    - for (var y = 0; y < Object.keys(horario).length; y++)
                      tr
                        - for (var weekDay = 0; weekDay < 7; x++)
                          - if (weekDay == 1 || weekDay == 3)
                            td
                              button(type='button', onclick="myFunction()") #{horario[y].hora}                                  
        .row
          .col-lg-6
            p Agenda aquí tu hora
            form(action='scheduling', method='post')              
              br                          
              strong Tipo de hora          
              // tipo de atencion  
              select(type='text', name='tipo_atencion', placeholder='tipo_atencion', required='')
                option(value='Administrativa') Administrativa       
                option(value='Médica') Médica                               
              br 
              br
              strong Fecha &nbsp             
              // fecha de atencion TODO
              .input-group.date(data-provide='datepicker', id='datetimepicker')
                input.form-control(type='text', name='fecha', placeholder='mm-dd-aaaa', required='')
                .input-group-addon
                  span.glyphicon.glyphicon-th
              //input(type='date', name='fecha', placeholder='aaaa-mm-dd', required='')
              br                                   
              br              
              strong Hora médica            
              // horas medicas
              select(type='text', name='hora_medica_id', placeholder='hora_medica_id', required='')
                - for (var i = 0; i < Object.keys(horas).length; i++) 
                  option(value=horas[i].id) #{horas[i].hora}                                                      
              br
              br
              //id de usuario TODO              
              input.hidden(type='text', name='usuario_id', value=globalUser)              
              br
              strong Solicite una membresía:
              br
              br
              // Tipo membresia
              input(type='radio', name='membresia_id', value='1', checked='')
              |  #{membresias[3].nombre}. #{membresias[3].monto}               
              br
              | #{membresias[3].descripcion}
              br
              br
              input(type='radio', name='membresia_id', value='2')
              |  #{membresias[0].nombre}. #{membresias[0].monto}
              br
              | #{membresias[0].descripcion}
              br 
              br
              input(type='radio', name='membresia_id', value='3')
              |  #{membresias[1].nombre}. #{membresias[1].monto} 
              br
              | #{membresias[1].descripcion}
              br
              br
              input(type='radio', name='membresia_id', value='4')
              |  #{membresias[2].nombre}. #{membresias[2].monto}
              br
              | #{membresias[2].descripcion}
              br
              br
              //br
              //strong Indique sus requerimientos (Opcional):
              //br
              //br
              // Comentarios
              input(type='test', name='comentarios', placeholder='Comentario')
              br
              br
              // post agendar
              input.btn.btn-primary(type='submit', value='Agendar hora')                
              p
                a(href='/index-loggedin', class='text-center') Volver
                span.clearfix                          
          .col-lg-6
            p Horas agendadas
            table#horas.display.text-center(width='100%', cellspacing='0')
              thead
                tr
                  th ID
                  th FECHA
                  th HORA
                  th ATENCIÓN             
                  th MEMBRESIA                         
              tbody                       
                //- console.log(horas);
                - for (var y = 0; y < Object.keys(horasUser).length; y++)                                          
                  tr
                  - for (var x = 0; x < 1; x++)
                    td= y + 1                
                  - for (var x = 0; x < 1; x++)
                    td= horasUser[y].fecha                
                  - for (var x = 0; x < 1; x++)
                    td= horasUser[y].hora
                  - for (var x = 0; x < 1; x++)
                    td= horasUser[y].tipo_atencion
                  - for (var x = 0; x < 1; x++)
                    td= horasUser[y].membresia
                 
            
    footer
      .container
        .row
          .col-md-4
            p.copyright DM FASIMC - © 2017 Copy Left. Debes tener al menos 18 años para usar este sitio.
          .col-md-4
            ul.list-inline.social-buttons
              li
                a(href='#')
                  i.fa.fa-twitter
              li
                a(href='https://www.facebook.com/FASIMC/?ref=br_rs')
                  i.fa.fa-facebook
              li
                a(href='#')
                  i.fa.fa-linkedin
          .col-md-4
            span
              | DIRECCION: CATEDRAL 1009 OF 601
              br
              |  ATENCION: 10:00 A 18:00 HRS
              |                                   TEL: +56999467416
              br
              |  Correo: DM@FASIMC.ORG
              |                                   A PASOS DEL METRO PLAZA DE ARMAS              
    // Bootstrap Core JavaScript
    //<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    script(src='vendor/bootstrap/js/bootstrap.min.js')
    // jQuery
    script(src='vendor/jquery/jquery.min.js')
    // Plugin JavaScript
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js', integrity='sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb', crossorigin='anonymous')
    // Contact Form JavaScript
    script(src='javascripts/jqBootstrapValidation.js')
    script(src='javascripts/contact_me.js')
    // Theme JavaScript
    script(src='javascripts/agency.js')
    script(src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
    //Datatables
    script(type='text/javascript').
      $(document).ready(function(){
      $('#schedule').DataTable({
        "paging":   false,
        "ordering": false,
        "info":     false,
        "searching":   false
      });
      });
    // Datepicker    
    // myFunction
    script.
      var dia = 'DIA'
      var hora = 'HORA'
      function myFunction() { 
      document.getElementById("demo").innerHTML = dia + "/";       
      alert('Has seleccionado una hora para el día: ' + dia + ' a las ' + hora + ' horas!')      
      }         
